<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-secondary" href="/employee"><i class="fa fa-plus">Add New Employee</i></a>
            {{panelHeading}}
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Full name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                     <tr>
                        <td>{{this.fullname}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.mobile}}</td>
                        <td>{{this.city}}</td>
                        <td>
                            <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" arial-hidden="true"></i></a>
                            <a href="/employee/delete/{{this._id}}" onclick="confirm('Are you sure want to delete ?');"><i class="fa fa-trash fa-lg" arial-hidden="true"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>